
/*Navbar styling below*/

#navbar{
  background-color: white;
  width: 100%;
  height: 75px;
  position: fixed;
  top:0;
}

#navbar li{
  display: inline;
  padding-left: 17.5%;
  font-size: 35px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 3px;
  width: 33%;
}

#navbar li a:hover{
  font-weight: bold;
  cursor: cell;
  text-shadow: grey 5px 5px 5px;
}

#navbar ul{
  list-style-type: none;
}

#navbar a{
  text-decoration: none;
  color: black;
}

/*Styling below for my homescreen section*/

#home_screen{
  background-image:url(Images/forest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  width: 100%;
}

#home_screen h2{
  color: black;
  text-align: center;
  font-size: 60px;
  padding-top: 795px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 3px;
  line-height: 0;
}

#home_screen p{
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: 'Overlock', cursive;
  letter-spacing: 3px;
  line-height: 0;
}

/*The yellow line under the headings styling below*/

span{
  border-bottom: 3px solid yellow;
  border-radius: 5px;
}

/*Intro section styling below*/

#intro{
  height: 250px;
  background-color: black;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
  padding-top: 100px;
}

#intro h3{
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#intro p{
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Overlock', cursive;
}

/*Skills section styling below*/

#skills_section{
  height: 280px;
  background-color: white;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
  padding-top: 100px;
}

#skills_section h3{
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#skills_section img{
  margin-top: 90px;
  margin-left: 10%;
  transition: all 1s ease-in-out;
}

#skills_section img:hover{
  width: 70px;
  height: 70px;
  transform: rotate(360deg);
}

/*Train img section*/

#train_img{
  background-image: url(Images/train.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

/*Interests section styling*/

#interests_section{
  height: 230px;
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
  margin: 0;
}

#interests_section h3{
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#interests_section p{
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Overlock', cursive;
}

/*Job section styling below*/

#job_history{
  height: 350px;
  background-color: white;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
  padding-top: 100px;
}

#job_history h3{
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#job_history ul{
  padding-left: 0;
  list-style-type: none;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Overlock', cursive;
}

/*Education section styling below*/

#education{
  height: 880px;
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
  margin: 0;
}

.educ_titles{
  font-weight: bold;
}

#education h3{
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#education p{
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Overlock', cursive;
}

#education button{
  margin-left: 45%;
  width: 75px;
  height: 34px;
  background-color: yellow;
  color: black;
  font-family: 'Overlock', cursive;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}

#education button:hover{
  box-shadow: lightyellow 2px 2px 2px;
}

/*Styling for the image of myself*/

#image_me{
  margin-right: 10%;
  margin-top: 5%;
  border-radius: 50%;
  float: right;
}

#image_me:hover{
  box-shadow: 6px 6px 5px black;
  width: 340px;
  height: 310px;
  transition: 3s ease;
  cursor: progress;
}

/*Footer section styling below this contact my details and social media links*/

#contact_section{
  height: 470px;
  background-color: white;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact{
  width: 50%;
  float: left;
  text-align: center;
  font-size: 40px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding-left: 10%;
  font-weight: bold;
  letter-spacing: 3px;
}

#contact a{
  cursor: auto;
}

#contact i:hover{
  transition: 2s ease;
  transform: rotateY(720deg);
}

/*Back to top section styling*/

#back_top{
  width: 100%;
  background-color: black;
  text-align: center;
  height: 90px;
  padding-top: 30px;
}

#back_top a{
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
